<div class="row">
  <form class="col s12 m6 offset-m3">
    <h3>Update/Edit product</h3>
    <div class="col s-12">
      <h5>Basic elements</h5>
      <div class="row">
        <div class="input-field">
          <input [(ngModel)]="product.basics.sku" [value]="product.basics.sku.value" type="text" class="validate" name="sku">
          <label for="sku">SKU</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input [(ngModel)]="product.basics.sku" [value]="product.basics.sku.value" type="text" class="validate" name="sku">
          <label for="sku">SKU</label>
        </div>
      </div>
    </div>

  </form>
</div>